.news{
    .appointment{
        position: relative;

        img{
            width:100%;
            
        }

        a{
            display:block;
            width:auto;
            background-color:#406fa6;
            padding:10px;
            color:#fff;
            position: absolute;
            z-index:1;
            bottom:25px;
            left:0;
            right:0;
            opacity:0.9;

            p{
                opacity:1;
            }

            .small-text{
                font-size:14px;
            }
        }
    }
}