.news .appointment {
  position: relative; }
  .news .appointment img {
    width: 100%; }
  .news .appointment a {
    display: block;
    width: auto;
    background-color: #406fa6;
    padding: 10px;
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 0;
    right: 0;
    opacity: 0.9; }
    .news .appointment a p {
      opacity: 1; }
    .news .appointment a .small-text {
      font-size: 14px; }
